* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}
header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
  margin: 0 auto;
}

section {
  margin-block: 30px;
  max-width: 350px;
  display: flex;
  margin-inline: auto;
 
}

section.game-status {
  background-color: #10A95B;
  flex-direction: column;
  align-items: center;
  color: #F9F4DA;
  border-radius: 4px;
  
}

section.game-status > h2 {
  font-size: 1.25rem;
  margin: 5px;
}

section.game-status > p {
  margin: 5px;
}

section.language-chips {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 350px;
  gap: 5px;
  
}

section.language-chips > span {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}


/* dimmed overlay with skull on "lost" languages */
span.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

section.word {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}

section.word > span {
  width: 40px;
  height: 40px;
  background-color: #323232;
  text-transform: uppercase;
  border-bottom: 1px solid #F9f4DA;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.keyboard {
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  max-width: 400px;
}

section.keyboard > button {
  width: 35px;
  height: 35px;
  background-color: #FCBA29;
  text-transform: uppercase;
  border: 1px solid #D7D7D7;
  cursor: pointer;
  border-radius: 3px;
}

button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}

.correct {
  background-color: #10A95B !important;
  color: white;
}

.incorrect {
  background-color: #EC5D49 !important;
  color: white;
}
